.tile-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile {
  width: 150px;
  height: 150px;
  border: 4px solid slategray;
  border-radius: 18px;
  margin: 10px;
  transition: background-color 0.5s linear;
}

@media (max-width: 800px) {
  .tile {
    width: 100px;
    height: 100px;
  }
}