@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: #ecf0f1;
}