.form {
  width: 800px;
  margin: 50px auto 20px;
}

#todoInput {
  width: 100%;
  height: 60px;
  background: none;
  border: none;
  border-bottom: 1px solid #34495e;
  outline: none;
  font: 300 28px 'Ubuntu', sans-serif;
  padding: 20px;
  color: #34495e;
}