body {
  background-color: #e4e4e4;
}

h1 {
  text-align: center;
}

#notes,
.preview {
  margin: 0 auto 16px;
  width: 75%;
}

.note, 
.preview {
  border-radius: 8px;
  padding: 10px;
}

.note {
  background-color: #fdffb7;
  border: 8px solid #d4daa7;
  margin: 16px 0;
}

.preview {
  background-color: #9df49a;
  border: 8px solid #05ad00;
  box-sizing: border-box;
}

.preview.hide {
  display: none;
}

form {
  text-align: center;
}

input {
  width: 50%;
}

input,
button {
  padding: 10px;
}

button {
  background-color: #ff9494;
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #fe2222;
}

button:focus {
  outline: none;
}

#delete {
  background-color: #ff0000;
}
#delete:hover {
  background-color: #b20e0e;
}

#lucky {
  background-color: #63e168;
}
#lucky:hover {
  background-color: #4caf50;
}