body, h2, p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1400px;
  font-family: "Source Sans Pro", "sans-serif";
  background-color: #f2f2f2;
}

header {
  text-align: center;
  background-color: #19334d;
  color: #fff;
  padding: 20px;
}

span, p {
  line-height: 1.5em;
}

input {
  margin-left: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.group {
  margin-top: 20px;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

svg {
  flex: 1 1 fill;
  margin: 0 auto;
}

.tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  background-color: #fff;
  border: 4px solid #19334d;
  border-radius: 8px;
  padding: 15px;
}

.tooltip p {
  margin: 0;
  line-height: 1.5em;
}

.tooltip:after {
  content: ' ';
  position: absolute;
  border: 8px solid transparent;
  border-top-color: #19334d;
  left: 50%;
  bottom: -20px;
  margin-left: -4px;
}

#map path {
  stroke: #ccc;
  stroke-width: 0.25px;
}

#map .selected {
  stroke: #19334d;
  stroke-width: 2px;
}

@media all and (max-width: 920px) {
  body {
    min-width: 800px;
  }
  .container {
    flex-direction: column;
  }
}